trunk/Flight/FlightClientTest/Service References/FlightQueryReference/FlightService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="FlightService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="FlightService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="FlightService/Imports">
      <xsd:import schemaLocation="http://localhost:12345/FlightService?xsd=xsd0" namespace="FlightService" />
      <xsd:import schemaLocation="http://localhost:12345/FlightService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:12345/FlightService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:12345/FlightService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FlightService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFlightQueryService_getAllFlightIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllFlightIDs" />
  </wsdl:message>
  <wsdl:message name="IFlightQueryService_getListOfDestinations_InputMessage">
    <wsdl:part name="parameters" element="tns:getListOfDestinations" />
  </wsdl:message>
  <wsdl:message name="IFlightQueryService_getListOfAllFlightsBetweenCities_InputMessage">
    <wsdl:part name="parameters" element="tns:getListOfAllFlightsBetweenCities" />
  </wsdl:message>
  <wsdl:message name="IFlightQueryService_getListOfAllAvailableFlightsBetweenCitiesOnDates_InputMessage">
    <wsdl:part name="parameters" element="tns:getListOfAllAvailableFlightsBetweenCitiesOnDates" />
  </wsdl:message>
  <wsdl:message name="IFlightQueryService_checkIfAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:checkIfAvailable" />
  </wsdl:message>
  <wsdl:message name="IFlightQueryService_OnFlightIDQueryCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnFlightIDQueryCallback" />
  </wsdl:message>
  <wsdl:message name="IFlightQueryService_onDestinationQueryCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onDestinationQueryCallback" />
  </wsdl:message>
  <wsdl:message name="IFlightQueryService_onAvailabilityQueryCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onAvailabilityQueryCallback" />
  </wsdl:message>
  <wsdl:message name="IFlightQueryService_onFlightInfoQueryCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onFlightInfoQueryCallback" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IFlightQueryService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="getAllFlightIDs">
      <wsdl:input wsaw:Action="FlightService/IFlightQueryService/getAllFlightIDs" message="tns:IFlightQueryService_getAllFlightIDs_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="getListOfDestinations">
      <wsdl:input wsaw:Action="FlightService/IFlightQueryService/getListOfDestinations" message="tns:IFlightQueryService_getListOfDestinations_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="getListOfAllFlightsBetweenCities">
      <wsdl:input wsaw:Action="FlightService/IFlightQueryService/getListOfAllFlightsBetweenCities" message="tns:IFlightQueryService_getListOfAllFlightsBetweenCities_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="getListOfAllAvailableFlightsBetweenCitiesOnDates">
      <wsdl:input wsaw:Action="FlightService/IFlightQueryService/getListOfAllAvailableFlightsBetweenCitiesOnDates" message="tns:IFlightQueryService_getListOfAllAvailableFlightsBetweenCitiesOnDates_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="checkIfAvailable">
      <wsdl:input wsaw:Action="FlightService/IFlightQueryService/checkIfAvailable" message="tns:IFlightQueryService_checkIfAvailable_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnFlightIDQueryCallback">
      <wsdl:output wsaw:Action="FlightService/IFlightQueryService/OnFlightIDQueryCallback" message="tns:IFlightQueryService_OnFlightIDQueryCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="onDestinationQueryCallback">
      <wsdl:output wsaw:Action="FlightService/IFlightQueryService/onDestinationQueryCallback" message="tns:IFlightQueryService_onDestinationQueryCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="onAvailabilityQueryCallback">
      <wsdl:output wsaw:Action="FlightService/IFlightQueryService/onAvailabilityQueryCallback" message="tns:IFlightQueryService_onAvailabilityQueryCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="onFlightInfoQueryCallback">
      <wsdl:output wsaw:Action="FlightService/IFlightQueryService/onFlightInfoQueryCallback" message="tns:IFlightQueryService_onFlightInfoQueryCallback_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>