Flight/FlightClientTest/Service References/FlightBookingReference/FlightService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="WcfFlightService" elementFormDefault="qualified" targetNamespace="WcfFlightService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12346/FlightService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfFlightService" />
  <xs:element name="makeReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sStartCityCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sEndCityCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtFlightDate" type="xs:dateTime" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfFlightService" minOccurs="0" name="passengers" nillable="true" type="q1:ArrayOfPassengerInfo" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfFlightService" minOccurs="0" name="pInfo" nillable="true" type="q2:PaymentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="makeReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="makeReservationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkAvailability">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sStartCityCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sEndCityCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtFlightDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="iNumSeats" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkAvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkAvailabilityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>