trunk/Flight/FlightClientTest/Service References/FlightBookingReference/FlightService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="WcfFlightService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="WcfFlightService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="WcfFlightService/Imports">
      <xsd:import schemaLocation="http://localhost:12346/FlightService?xsd=xsd0" namespace="WcfFlightService" />
      <xsd:import schemaLocation="http://localhost:12346/FlightService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:12346/FlightService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfFlightService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFlightBookingService_makeReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:makeReservation" />
  </wsdl:message>
  <wsdl:message name="IFlightBookingService_makeReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:makeReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IFlightBookingService_checkAvailability_InputMessage">
    <wsdl:part name="parameters" element="tns:checkAvailability" />
  </wsdl:message>
  <wsdl:message name="IFlightBookingService_checkAvailability_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkAvailabilityResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IFlightBookingService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="makeReservation">
      <wsdl:input wsaw:Action="WcfFlightService/IFlightBookingService/makeReservation" message="tns:IFlightBookingService_makeReservation_InputMessage" />
      <wsdl:output wsaw:Action="WcfFlightService/IFlightBookingService/makeReservationResponse" message="tns:IFlightBookingService_makeReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="checkAvailability">
      <wsdl:input wsaw:Action="WcfFlightService/IFlightBookingService/checkAvailability" message="tns:IFlightBookingService_checkAvailability_InputMessage" />
      <wsdl:output wsaw:Action="WcfFlightService/IFlightBookingService/checkAvailabilityResponse" message="tns:IFlightBookingService_checkAvailability_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>