Flight/FlightClientTest/Service References/FlightQueryReference/FlightService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FlightService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlightService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDestinationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DestinationInfo" nillable="true" type="tns:DestinationInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDestinationInfo" nillable="true" type="tns:ArrayOfDestinationInfo" />
  <xs:complexType name="DestinationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DestinationInfo" nillable="true" type="tns:DestinationInfo" />
  <xs:complexType name="ArrayOfFlightInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FlightInfo" nillable="true" type="tns:FlightInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlightInfo" nillable="true" type="tns:ArrayOfFlightInfo" />
  <xs:complexType name="FlightInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdultRate" type="xs:double" />
      <xs:element minOccurs="0" name="ChildRate" type="xs:double" />
      <xs:element minOccurs="0" name="Departure_x0020_Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlightName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="NumSeats" type="xs:int" />
      <xs:element minOccurs="0" name="StartCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightInfo" nillable="true" type="tns:FlightInfo" />
</xs:schema>