Flight/FlightClientTest/Service References/FlightQueryReference/FlightService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="FlightService" elementFormDefault="qualified" targetNamespace="FlightService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12345/FlightService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:12345/FlightService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FlightService" />
  <xs:element name="getAllFlightIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sStartCityCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sEndCityCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListOfDestinations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListOfAllFlightsBetweenCities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sStartCityCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sEndCityCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListOfAllAvailableFlightsBetweenCitiesOnDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sStartCityCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sEndCityCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtStartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtEndDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkIfAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sStartCityCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sEndCityCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtFlightDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="iNumSeats" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnFlightIDQueryCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="flights" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onDestinationQueryCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FlightService" minOccurs="0" name="destinations" nillable="true" type="q2:ArrayOfDestinationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onAvailabilityQueryCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onFlightInfoQueryCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FlightService" minOccurs="0" name="flights" nillable="true" type="q3:ArrayOfFlightInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>