trunk/Hotel/ConsoleApplication1/Service References/ServiceReference1/HotelInfoEnquiryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HotelInfoEnquiryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1073/HotelInfoEnquiryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1073/HotelInfoEnquiryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:1073/HotelInfoEnquiryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1073/HotelInfoEnquiryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataInfo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHotelInfoEnquiryService_getAllRoomInfos_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllRoomInfos" />
  </wsdl:message>
  <wsdl:message name="IHotelInfoEnquiryService_getAllRoomInfos_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllRoomInfosResponse" />
  </wsdl:message>
  <wsdl:message name="IHotelInfoEnquiryService_getAllRoomInfos_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:Exception" />
  </wsdl:message>
  <wsdl:message name="IHotelInfoEnquiryService_checkRoomAvailability_InputMessage">
    <wsdl:part name="parameters" element="tns:checkRoomAvailability" />
  </wsdl:message>
  <wsdl:message name="IHotelInfoEnquiryService_checkRoomAvailability_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkRoomAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="IHotelInfoEnquiryService_checkRoomAvailability_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System" name="detail" element="q2:Exception" />
  </wsdl:message>
  <wsdl:portType name="IHotelInfoEnquiryService">
    <wsdl:operation name="getAllRoomInfos">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelInfoEnquiryService/getAllRoomInfos" message="tns:IHotelInfoEnquiryService_getAllRoomInfos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelInfoEnquiryService/getAllRoomInfosResponse" message="tns:IHotelInfoEnquiryService_getAllRoomInfos_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHotelInfoEnquiryService/getAllRoomInfosExceptionFault" name="ExceptionFault" message="tns:IHotelInfoEnquiryService_getAllRoomInfos_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkRoomAvailability">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelInfoEnquiryService/checkRoomAvailability" message="tns:IHotelInfoEnquiryService_checkRoomAvailability_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelInfoEnquiryService/checkRoomAvailabilityResponse" message="tns:IHotelInfoEnquiryService_checkRoomAvailability_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHotelInfoEnquiryService/checkRoomAvailabilityExceptionFault" name="ExceptionFault" message="tns:IHotelInfoEnquiryService_checkRoomAvailability_ExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHotelInfoEnquiryService" type="tns:IHotelInfoEnquiryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllRoomInfos">
      <soap:operation soapAction="http://tempuri.org/IHotelInfoEnquiryService/getAllRoomInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="checkRoomAvailability">
      <soap:operation soapAction="http://tempuri.org/IHotelInfoEnquiryService/checkRoomAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelInfoEnquiryService">
    <wsdl:port name="BasicHttpBinding_IHotelInfoEnquiryService" binding="tns:BasicHttpBinding_IHotelInfoEnquiryService">
      <soap:address location="http://localhost:1073/HotelInfoEnquiryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>