Hotel/ConsoleApplication1/Service References/ServiceReference1/HotelInfoEnquiryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1073/HotelInfoEnquiryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataInfo" />
  <xs:element name="getAllRoomInfos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllRoomInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataInfo" minOccurs="0" name="getAllRoomInfosResult" nillable="true" type="q1:ArrayOfRoomInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkRoomAvailability">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDateStr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="duration" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkRoomAvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkRoomAvailabilityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>