Hotel/ConsoleApplication1/Service References/ServiceReference2/HotelDataInfoUpdate2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="checkRoomAvailability">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDateStr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="duration" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkRoomAvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkRoomAvailabilityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReservationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Duration" type="xs:int" />
        <xs:element minOccurs="0" name="NumOfGuest" type="xs:int" />
        <xs:element minOccurs="0" name="RoomNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TotalCharge" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardType" nillable="true" type="xs:string" />
  <xs:element name="GuestAccount" nillable="true" type="xs:string" />
  <xs:element name="GuestName" nillable="true" type="xs:string" />
  <xs:element name="GuestPassport" nillable="true" type="xs:string" />
  <xs:element name="ReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="responseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>